$a-color: rgb(163, 171, 255);

.navbar{
    
    width: 100%;
    z-index: 100;
    position: relative;
    top: 0;
    left: 0;
    background-color: #000;
    justify-content: center;
    height: 80px;
    
    .nav{
        display: flex;
        align-items: center;
        width:95%;
        justify-content:space-between;
        
    }

    .mobile-menu {
        
        display: none;
        visibility: none;
      }
    
    

    .reservation{
        background-color: rgb(52, 179, 52);
        color: white;
        border-radius: 10px;
        text-decoration: none;
        padding: 7px;
        border: none;
        
        right: 0;
        

    }
    
    .workshopName{
        text-decoration: none;
        
        
    }

    a{
        font-weight: 400;
        text-decoration: none;
       
        font-size: 20px;
        color: white;
        
        text-shadow: 2px 2px rgb(192, 52, 52);

    }

    a.active, a:hover {
        color: $a-color;
      }

    ul.header{
            margin: 0;
            list-style-type: none;
            display:flex;
            padding: 0;
            margin-left: auto;
            
     li{
           margin-right: 40px;
            
        }

        
    }
        
            
}

@media (max-width: 800px){
    .navbar{

        height: 50px;
        padding: 0;
    
        .hamburger{
            
                background-color: #000;
                width: 100%;
                flex-direction: column;
                z-index: 2;
        }
        
        i{
            color: white;
        }

        .mobile {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
        
            
        
            .mobile-menu {
              display: flex;
            }
          }
    .active {
        display: flex;
      }
    
      .inactive {
        display: none !important;
        visibility: none !important;
      }
    }

}