.appointmentContent{

    
    width:100%;
    margin: 0 auto;
    
    .beginning{
        position: relative;
        

        img{
            position: relative;
            display: block;
            //margin: -0%;
            width: 120%;
            //z-index: -100;
            height: 300px;
            opacity: 0.2;
        }

        h1{
            bottom: 10%;
            position: absolute;
            
        }

    }

    #confirmation{
        width: 30%;
    }   

    

    table{
    
        border-collapse: collapse;
       width:80%;
       margin: 0 auto;
        table-layout: fixed;
        color: rgb(88, 9, 9);
        display: flex;
        flex-direction: row;
    }
    
    tbody{
        width: 95%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
        
    }

    tr {
    
        margin: 10px;
        background-color: #c0c0c0;
        border-radius:5%;
        padding: 8px;
        width:90%;
       margin: 20px auto;
    
    }

    td{
    
        padding:5px 15px;
        height: 60px;
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
    }

    td::before{
        content:attr(label);
        float:left;
        font-weight: 600;
        text-transform: uppercase;
        width: 40%;
        text-align: left;
    }

    .btn{
        padding:.6em;
        border: .1px black solid;
        color:rgb(0, 0, 0);
        cursor:pointer;
        border-radius:10px;
    
    }

    p{
        float: left;
    }

    td:last-child {
        margin-top:5px;
        border-bottom: none;
        
    }




    
}

@media (max-width:1052px) {
    .appointmentContent{
        
        tbody{
            
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            
        }

        tr{
            width:400px;
        }

        
    }
}
